<h1>Welcome {{user}}</h1>
<a href="{%url 'logout'%}">Logout</a> <br />
<a href="{%url 'viewprofile' user%}">Profile</a><br>
<a href="{%url 'home'%}">Home</a>
<div style="border-style: solid; background-color: beige; text-align: center">
  add new tweet <a href="{%url 'newtweet'%}">here</a>
</div>
{%for i in content%}
<fieldset style="background-color: beige;">
  <legend><a href="{%url 'viewprofile' i.tweeter%}">{{i.tweeter}}</a></legend>
  {%if i.tweeter != username%}
  <h2>Retweeted from <a href="{%url 'viewprofile' user%}">{{i.tweeter}}</a></h2>
  {%endif%}
  <h2>Tweet: {{i.tweet}}</h2>
    <div style="text-align: center">
      <form action="{%url 'likers'%}" method="POST">
        {%csrf_token%}
        <button
          type="submit"
          name="tweet"
          value="{{i.id}}"
          style="border: none; background: none"
        >
          <p
            style="
              display: inline-block;
              width: fit-content;
              border-style: groove;
              border-color: darkslateblue;
            "
          >
            L:{{i.likes}}
          </p>
        </button>
      </form>
  {% if i.liker%}
  <form action="{%url 'like_unlike'%}" method="POST">
    {% csrf_token %}
    <input type="hidden" name = "id" value = {{i.id}}/>
    <button
      style="border: none; background-color: rgb(133, 183, 248)"
      type="submit"
      name="likes"
      value="{{i.liker}}"
    >
      Unlike
    </button>
  </form>
  {%else%}
  <form action="{%url 'like_unlike'%}" method="POST">
    {% csrf_token %}
    <input type="hidden" name = "id" value = {{i.id}}/>
    <button
      style="border: none"
      type="submit"
      name="likes"
      value="{{i.liker}}"
    >
      Like
    </button>
  </form>
  {%endif%}
       {% if i.retweeter%}
  <form action="{%url 'retweet'%}" method="POST">
    {% csrf_token %}
    <input type="hidden" name = "id" value = {{i.id}}/>
    <button
      style="border: none; background-color: rgb(133, 183, 248)"
      type="submit"
      name="retweeted"
      value="{{i.retweeter}}"
    >
        R:{{i.retweets}}
    </button>
  </form>
  {%else%}
  <form action="{%url 'retweet'%}" method="POST">
    {% csrf_token %}
    <input type="hidden" name = "id" value = {{i.id}}/>
    <button
      style="border: none"
      type="submit"
      name="retweeted"
      value="{{i.retweeter}}"
    >
        R:{{i.retweets}}
    </button>
  </form>
  {%endif%}
    </div>
    <h4 style="text-align: center">{{i.tweet_time}}</h4>
    <div style="text-align: center">
      <a href="{%url 'tweetdetail' i.id %}">details</a>
      {%if i.tweeter == user%}
      <a href="{% url 'edittweet' i.id %}">edit</a>
      {%endif%}
    </div>
  </div>
</fieldset>
{%endfor%}
<div>
  {% if messages %} {% for message in messages %}
  <div>{{message}}</div>
  {% endfor %} {% endif %}
</div>
