{% extends "base.html" %} {% block content %}
<div>
  <form method="POST" onsubmit=" return getall()">
    {% csrf_token %}
    <fieldset>
      <ul style="display: none">
        {{form.as_p}}
      </ul>
      Tweet:
      <div
        class="form-control"
        style="
          border: 2px inset #aaa;
          cursor: text;
          height: 220px;
          overflow: auto;
          width: 400px;
        "
        id="textarea"
        contenteditable
      ></div>
      <div style="width: 400px" id="users"></div>
    </fieldset>
    <div>
      <button class="btn btn-sm btn-dark mt-1">Submit</button>
    </div>
  </form>
</div>
<div>
  {% if messages %} {% for message in messages %}
  <div>{{message}}</div>
  {% endfor %} {% endif %}
</div>
<fieldset>See Your tweets <a href="{%url 'mytweets' user%}">here</a></fieldset>
<script type="text/javascript">
  window.onload = function () {
    document.getElementById("textarea").onkeyup = function () {
      var x = document.getElementById("textarea");
      var res = x.innerHTML.split(" ");
      var wes = res[res.length - 1];
      if (wes.startsWith("@")) {
        var data = JSON.parse("{{data|escapejs}}");
        wes = wes.replace(/@/g, "");
        wes = wes.toLowerCase();
        var datalist = data["fools"];
        result = [];
        for (var i = 0; i < datalist.length; i++) {
          var keyword = datalist[i].toLowerCase();
          if (keyword.includes(wes)) {
            result.push(datalist[i]);
          }
        }
        var list = "<ul class=" + '"list-group"' + ">";
        if (result.length > 0) {
          for (var i = 0; i < result.length; i++) {
            list =
              list +
              '<li class="list-group-item" onclick = "pickup(this)">' +
              result[i] +
              "</li>";
          }
        } else {
          list = list + '<li class="list-group-item">' + "No user" + "</li>";
        }
        list = list + "</ul>";
        document.getElementById("users").innerHTML = list;
      } else {
        document.getElementById("users").innerHTML = "";
      }
      var x = document.getElementById("tweet");
      x.value = document.getElementById("textarea").innerHTML;
    };
  };
  function pickup(id) {
    var x =
      '<a href="/profile/' + id.innerHTML + '/">' + "@" + id.innerHTML + "</a>";
    var y = document.getElementById("textarea");
    var res = y.innerHTML.split(" ");
    res[res.length - 1] = x;
    document.getElementById("textarea").innerHTML = res.join(" ");
  }
  function getall() {
    // var y = document.getElementById("textarea").innerHTML;
    // if (y == "") {
    //   alert("Empty message!");
    //   return flase;
    // }
    var x = document.getElementById("tweet");
    x.value = document.getElementById("textarea").innerHTML;
  }
</script>
{% endblock content %}
