<h1>Welcome {{user}}</h1>
<a href="{%url 'logout'%}">Logout</a> <br />
<a href="{%url 'profile'%}">Profile</a>
{%for i in content%}
<fieldset>
  <legend><a href="{%url 'viewprofile' i.tweeter%}">{{i.tweeter}}</a></legend>
  <div>
    <h2>Tweet: {{i.tweet}}</h2>
    <div style="text-align: center">
      <p
        style="
          display: inline-block;
          width: fit-content;
          border-style: groove;
          border-color: darkslateblue;
        "
      >
        L:{{i.likes}}
      </p>
      <p
        style="
          display: inline-block;
          width: fit-content;
          border-style: groove;
          border-color: darkslateblue;
        "
      >
        R:{{i.retweets}}
      </p>
    </div>
  </div>
</fieldset>
{%endfor%}
